<label for="subject">
	<f:translate key="tx_voice_domain_model_issue.subject" />
</label><br />
	<f:form.textfield property="subject" /><br />
<label for="description">
	<f:translate key="tx_voice_domain_model_issue.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="name">
	<f:translate key="tx_voice_domain_model_issue.name" />
</label><br />
	<f:form.textfield property="name" /><br />
<label for="email">
	<f:translate key="tx_voice_domain_model_issue.email" />
</label><br />
	<f:form.textfield property="email" /><br />
<label for="screenshot">
	<f:translate key="tx_voice_domain_model_issue.screenshot" />
</label><br />
	<f:form.textfield property="screenshot" /><br />
<label for="collectedData">
	<f:translate key="tx_voice_domain_model_issue.collected_data" />
</label><br />
	<f:form.textfield property="collectedData" /><br />