.tx_voice_shadow {
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.3);
}
.tx_voice input,
.tx_voice textarea {
	width: 97%;
}
.tx_voice .userfeedbackformsending, .tx_voice .userfeedbackformdone {
	display: none;
}

.tx_voice_button {
	position:fixed;
	bottom: 0%;
	right:10px;
	background-color: white;
	opacity: 0.3;
	border: 1px solid silver;
	border-bottom: none;
	padding: 5px;
}
.tx_voice_icon {
	width: 24px;
	height: 24px;
	background-image: url(../Images/AleksandraWolska/comment.png);
	display: inline-block;
}
.tx_voice_button:hover {
	opacity: 1;
}
